[submodule "Carthage/Checkouts/SVNTheme"]
	path = Carthage/Checkouts/SVNTheme
	url = https://github.com/sevenapps/SVNTheme.git
[submodule "Carthage/Checkouts/SVNTextValidator"]
	path = Carthage/Checkouts/SVNTextValidator
	url = https://github.com/sevenapps/SVNTextValidator.git
