github "sevenapps/SVNTextValidator" "master" 
github "sevenapps/SVNShapesManager" "master" 
github "sevenapps/SVNMaterialButton" "master" 
github "sevenapps/SVNiOSBootstraper" "master" 
github "https://github.com/bikisDesign/Swift-Essentials" "master" 
