github "sevenapps/SVNTheme" "master"
github "sevenapps/SVNTextValidator" "master"
github "sevenapps/SVNShapesManager" "master"
github "https://github.com/sevenapps/SVNMaterialButton" "master"
github "sevenapps/SVNiOSBootstraper" "master"
