github "sevenapps/SVNTheme" "master"
github "sevenapps/SVNTextValidator" "master"
github "sevenapps/SVNShapesManager" "master"
github "sevenapps/SVNMaterialButton" "master"
github "sevenapps/SVNiOSBootstraper" "master"
